.pay_info_box {
  :global {

    .ant-col-12,
    .ant-col-24 {
      height: 36px;
      display: flex;
      align-items: center;
    }
  }

  span {
    &.tips {
      height: 36px;
      display: flex;
      align-items: center;
    }
  }
}
