.pay_info_box {
  :global {

    .ant-col-12,
    .ant-col-24 {
      height: 36px;
      display: flex;
      align-items: center;

      span {
        width: 140px;
        color: rgb(134, 145, 166);

        &.ant-radio,&.ant-radio-inner {
          width: 16px;
        }
      }
    }
  }

  span {
    &.tips {
      height: 36px;
      display: flex;
      align-items: center;
    }
  }
}

.detail_info_title {
  display: inline-block;
  padding: 0 10px 0 0;
  color: #888;
}